*{
	margin: 0;
	font-family: 'Yahoo Sans','Helvetica Neue',Helvetica,Arial;
}
#header{
	display: flex;
	width: auto;
	height: 8vh;
	justify-content: space-between;
	background-color: white;
	padding-top: 2.5rem;
	padding-left: 3.5rem;
	padding-right: 4rem;
	margin-top: -1rem;
	
}
#mainPage{
	height: 88vh;
	width: auto;
	background-color: whitesmoke;
}
#logoHolder{
	/* border: .1rem solid red; */
}
#logoHolder img{
	width: 120px;
	height: 36px;
}
#signupPanel{
	position: absolute;
	left: 35%;
	top: 13%;
	width: 350px;
	padding: .8rem 1.4rem;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
	background-color: white;
	
}
.logo, h3, #bottomTextArea, #textArea{
	text-align: center;
}
.logo img{
	width: 90px;
	height: 27px;
	
	
}
form{
	/* text-align: center; */
}
input{
	border: none;
	border-bottom: .1rem solid gray;
}
.yahooEmailHolder{
	display: inline;
}

#continueBtn{
	text-align: center;
}
#continueBtn button{
	background-color: #188FFF;
	color: white;
	border-radius: 25px;
	width: 100%;
	font-family: inherit;
	font-size: 1.2rem;
	padding: .4rem 1rem;
	border: none;
}

#continueBtn button:hover{
	background-color: #0f4e89;
}

#signupPanel input:nth-child(1){
	width: 100%;
}

a{ 
	text-decoration: none;
	color: #188FFF;
}