*{
	margin: 0;
}
#FullPage{
	width: 100vw;
	height: 100vh;
	background-color: bisque;
	border: .1rem solid indianred;
	padding-top: 10%;
}
#focusPanel{
	margin: 0 auto;
	width: 50%;
	/* height: 70%; */
	max-inline-size: 23rem; /*This is equivalent to max-width*/
	border: .1rem solid goldenrod;
	background-color: chocolate;
	overflow: hidden;
	padding-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	/* padding-bottom: 30px; */
	
	
	
}

input{
	width: 100%;
	border: none;

}

#btnContainer{
	width: 100%;
	height: 70vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-rows:minmax(200, auto); */
	/* padding-bottom: 40px; */
	gap: 2px;
	/* border: .1rem solid black; */
	overflow: hidden;
	
}

.extBtn{
	grid-column: 4/5;
	grid-row: 4/6;
}

.btn{
	font-size: 1.5rem;
	padding: 10px 5px 8px 5px;
	border: none;
	/* background-color: bisque; */
}
.btn:hover{
	background-color: rgb(34, 32, 29);
	color: whitesmoke;
}

#display{
	background-color: white;
	font-size: 2rem;
	text-align: end;
	padding-top: 0.5rem;
	padding-bottom: 0.75rem;
	padding-right: 0.75rem;
	
}

/* .button{
	width: i;
	max-width: ;
} */