*{
	margin: 0;
	box-sizing: border-box;
	color: aliceblue;
}

#wrapper{
	display: grid;
	background-color: white;
}
#header{
	width: 100%;
	height: 15vh;
	background-color: yellow;
}
#mainPage{
	display: grid;
	grid-template-columns: 20% 80%;
	width: 100%;
	padding: 5px;
	/* border: .1rem solid green; */
	height: 75vh;
}
#leftPanel{
	/* width: 30%;
	height: 73vh; */
	background-color: orangered;
	margin-right: 10px;
	border-radius: 15px;
} 

#RightConsole{
	/* border: .1rem solid pink; */
	display: grid;
	grid-template-rows: 30% 70%;
	border-radius: 15px;
	
}
#centerConsole{
	/* grid-column-start: 2;
	grid-column-end: 3; */
	background-color: lightblue;
	margin-bottom: 10px;
	border-radius: 15px;
	/* height: 30%; */
}
#rightPanel{
	/* grid-row-start: 2;
	grid-row-end: 3; */
	background-color: bisque;
	/* height: 30%;
	display: inline-block; */
}

#footer{
	height: 10vh;
	background-color: gray;
	border-radius: 15px;
}

/* @media(max-width: 390px){
	
	#mainPage{
		display: none;
	}

} */