#fullPage{
	height: 90vh;
	background-color: rgba(255, 228, 196, 0.158);
	padding: 5px;
	background-image: url(https://cdn.pixabay.com/photo/2015/12/03/10/13/news-1074610_1280.jpg);
	object-fit: cover;
	/* display: flex; */
}
#focusPage{
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(190px, auto);
	gap: 15px;
	background-color: rgba(255, 255, 255, 0.135);
	border: .1rem ridge red;
	text-align: center;
}
#box1{
	grid-column: 1 / 3;
 	grid-row: 1;
	background-color: rgb(144, 106, 56, 0.603);
	border: .1rem solid #f3f3f3;
	border-radius: 15px;
}

#box2{
	grid-column: 3 / 4;
  	grid-row: 1 / 3;
	background-color: rgba(144, 106, 56, 0.603);
	border: .1rem solid #f3f3f3;
	border-radius: 15px;
}
#box3{
	grid-column: 1;
  	grid-row: 2 / 5;
	background-color: rgb(144, 106, 56, 0.603);
	border: .1rem solid #f3f3f3;
	border-radius: 15px;
}
#box4{
	grid-column: 3;
  	grid-row: 3;
	background-color: rgb(144, 106, 56, 0.603);
	border: .1rem solid #f3f3f3;
	border-radius: 15px;
}
#box5{
	grid-column: 2;
  	grid-row: 4;
	background-color: rgb(144, 106, 56, 0.603);
	border: .1rem solid #f3f3f3;
	border-radius: 15px;
}
#box6{
	grid-column: 3;
  	grid-row: 4;
	background-color: rgb(144, 106, 56,0.603);
	border: .1rem solid #f3f3f3;
	border-radius: 15px;
}
/* #box7{
	grid-column: 1;
  	grid-row: 2 / 5;
	background-color: rgb(144, 106, 56);
	border: .1rem solid #f3f3f3;
	border-radius: 15px;
} */


.imageHolder img{
	object-fit: fill;
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

