#infoSection{
	background-color: palevioletred;
}

#formPage{
	display: flex;
	background-color: aquamarine;
	justify-content: center;
}

#ctlBtn{
	display: flex;
	justify-content: center;
	gap: 12px;
}

#pageTable{
	display: flex;
	justify-content: center;
}

#flipBreak{
	color: blueviolet;
	writing-mode: vertical-lr;
	text-align: center;
}

.cyber{
	color: brown;
	text-align: center;
}

td:hover{
	background-color: black;
	color: whitesmoke;
}
  

/* //  Using CSS Entity// */
/* td::after{
	content: '\2602';
} */

/* td:focus{
	background-color: blueviolet;

} */


/* #programmingTable{
	display: flex;
	gap: 15px;
} */
