*{
	margin: 0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}

button{
	font-family: monospace;
}

#headerTop{
	display: flex;
	justify-content: space-between;
	border-bottom: .1rem solid gray;
	padding: .1rem 0;

}
#headerTop ul{
	display: flex;
	gap: 2rem;
	list-style-type: none;
	padding-top: .5rem;
	
}

#headerBottom{
	width: 100vw;
	
}

#headerBottomLinksHolder{
	margin: 0 auto;
}
#headerBottom ul{
	position: relative;
	left: 33%;
	display: flex;
	gap: 1rem;
	list-style-type: none;
	/* border: .1rem solid yellow; */
	width: fit-content;
	
}
#logoText{
	padding: .1rem 0;
	font-size: 1.8rem;
}

#contentPagePhoto{
	width: 100vw;
}

#header{
	position: fixed;
	background-color: white;
	z-index: 3;
}
#contentPageTextArea{
	text-align: center;
	position: absolute;
	top: 55%;
	left: 65%;
	width: 30vw;
	color: whitesmoke
	/* border: .1rem solid gold; */
}
#buttonHolder{
	display: flex;
	justify-content: space-between;
}
.firstText{
	font-size: 2.2rem;
	color:whitesmoke
}
.secondText{
	font-size: 1.5rem;
	color: rgb(241, 245, 4);
}

#buttonHolder button{
	border: none;
	background-color: white;
	color: black;
	font-family: monospace;
	/* font-size: 1rem; */
	padding: .5rem;
}
#buttonHolder button:hover{
	background-color: antiquewhite;
}

#headerTop a:hover{
	background-color: rgb(147, 145, 145);
	border-radius: 2px;
	/* padding: .1rem; */
}

#sidePanel{
	display: flex;
	/* border: .1rem solid black; */
	gap: 1rem;
	margin-right: 1rem;
	padding-top: .5rem;
}

#largeWhite{
	font-size: 1.89rem;
	margin: 0 auto;
	/* border: .1rem solid black; */
	text-align: center;
	margin: 3rem 0;
	font-weight: 450;	
}

#headerBottomLinksHolder ul{
	padding: .2rem 0;
}

#previewPanel{
	width: 100vw;
	/* border: .1rem solid gainsboro; */
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 25rem 25rem;
	/* grid-auto-rows: max-content(4rem); */
	/* gap: .3rem; */
}
.itemPreview{
	border: .1rem solid purple;
}

#previewPanel button{
	position: relative;
	left: 24%;
	top: 78%;
	padding: .2rem 2rem;
	width: 12rem;

}

#previewPanel div:nth-child(1){
	/* background-image: url(./assets/jason-leung-EtOMMg1nSR8-unsplash.jpg); */
	background-color: blueviolet;
	/* width: 100%; */
}
#previewPanel div:nth-child(2){
	background-image: url();
	background-color: hotpink;
}
#previewPanel div:nth-child(3){
	background-image: url();
	background-color: lawngreen;
}
#previewPanel div:nth-child(4){
	background-image: url();
	background-color: peru;
}
#previewPanel div:nth-child(5){
	background-image: url();
	background-color: tomato;
}
#previewPanel div:nth-child(6){
	background-image: url();
	background-color: wheat;
}
#previewPanel div:nth-child(7){
	background-image: url();
	background-color: sandybrown;
}
#previewPanel div:nth-child(8){
	background-image: url();
	background-color: firebrick;
}
#miniCompanyStatement{
	width: 100vw;
	text-align: center;
	height: 30vh;
	/* border: .1rem solid gainsboro; */
}

#miniCompanyStatement{
	background-image: url(./assets/johannes-hofmann-SxiWUpGLaZM-unsplash.jpg);
	margin: 3rem 0;
	color: antiquewhite;
	
}
#statementHolder{
	margin-top: 2.4rem;
	/* border: .1rem solid blueviolet; */
	padding: .2rem 0;
	
	/* width: rem; */
	font-size: 2rem;

}
#miniCompanyStatement button{
	padding: 1rem 3rem;
}

#miniCompanyStatement button:hover{
	background-color: antiquewhite;
}
#dualShowcase{
	height: 80vh;
	display: flex;
	width: 100vw;
}
.leftShowcase{
	height: 80vh;
	width: 50%;
	/* border-bottom: .1rem solid greenyellow;
	border-top: .1rem solid greenyellow; */
	/* background-image: url(./assets/mediamodifier-7cERndkOyDw-unsplash.jpg); */
}
.rightShowcase{
	height: 80vh;
	width: 50%;
	/* border-bottom: .4rem solid paleturquoise;
	border-top: .1rem solid paleturquoise; */
	/* background-image: url(./assets/milada-vigerova-p8Drpg_duLw-unsplash.jpg); */
	/* object-fit:fill; */
}
.leftShowcasePhoto{
	width: 100%;
	height: 80vh;
}
.rightShowcasePhoto{
	width: 100%;
	height: 80vh;
}

.leftShowcase span{
	position: relative;
	text-align: center;
	bottom: 60%;
	left: 38%;
}
.rightShowcase span{
	position: relative;
	text-align: center;
	bottom:60%;
	left: 38%;
}

.hoverText{
	font-size: 3rem;
}
.hoverText button{
	padding: .4rem;
}
.hoverTextRight{
	font-size: 3rem;
}
.hoverTextRight button{
	padding: .4rem;
}
#bottomBreaker{
	margin: 2rem 0;
	text-align: center;
	font-size: 2rem;
}
#gridHolder{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.previewPic{
	width: 100%;
	z-index: -2;
	/* object-fit: contain; */
}
.itemPreview{}